@import url('style.css');

a {
    font-size: large;
    margin-bottom: auto;
}

a:visited {
    color: blue;
}

a:hover {
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    text-align: center;
}