body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #12192B;
}

header {
    background-color: #080a12;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: #007bff;
}

main {
    padding: 20px;
}

.content {
    display: flex;
    max-height: 40%;
}

article {
    flex: 2;
    padding-right: 20px;
    color: #fff;
    margin-right: 2%;
    min-width: 70%;
}

aside {
    background-color: #eee;
    padding: 10px;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}

h2 {
    color: white;
}

#bullet-div {
    margin-top: 40px;
}

#bullet-list {
    color: white;
    font-style: italic;
    list-style: square;
    margin: 2px;
    margin-left: 3%;
}

#image-1 {
    width: auto;
    margin-top: 0.5%;
    max-height: 25%;
    max-width: 50%;
}



.div-gridtest {
    color: white;
}

.grid-container {
    display: grid;
    margin-top: 3%;
    grid-template-columns: 0.5fr 0.25 0.25fr;
    justify-content: center;
    column-gap: 2%;

}

.grid-1 {
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.grid-2 {
    grid-column-start: 2;
}

.grid-3 {
    grid-column-start: 3;
}

.image-1 {
    object-fit: cover;
    max-width: 100%;
    margin-right: 1%;
}

@media (max-width: 786px) {

    header {
        text-align: center;
    }

    body {
        font-size: 16px;
    }

    main {
        flex-direction: column;
    }


    aside {
        display: block;
    }

    .grid-container {
        float: none;
        display: block;
        width: 100%;
    }

    .grid-2 {
        margin-top: 1%;
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        font-size: xx-large;
    }

    nav ul {
        font-size: medium;
    }

    nav li {
        margin: 0 10px;
    }

    .grid-3 {
        display: block;
        width: 100%;
        margin-top: 1%;
    }
}

@media (min-width: 1025) {
    body {
        font-size: 20px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin: 0 20px;
    }
}